* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
}

header {
    height: 2.5rem;
    width: 100%;

}

header nav{
    display: flex;
    justify-content: flex-end;

}

header nav .nav-right-section{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

 a {
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
}

nav .nav-right-section a{
    margin-left: 10px;
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section img{
    margin-right: 15px;
    width: 2.6rem;
    height: 2.6rem;
}

svg {
    fill: currentColor;
}

nav .nav_logo{
    margin-left: 15px;
    margin-right: 15px;
    top: 20px;
    width: 1.5rem;
    height: 1.5rem;
    color: #5f6368;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    display: flex;
}
main  section .main-button{
    display: inline;
    align-items: center;
}
